@import '../../../styles/framework';

.image {
  display: block;
  position: relative;
  width: 100%;
}

.box {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-color: #C4C4C4;
}

.lazyimage {
  pointer-events: none;
}

.caption {
  @include fontstack();
  @include type('caption');
  margin: 10px 0;
}