@import 'framework';

.wrapper {
  margin: 0 0 80px;
  &Desktop {
    margin: 0 0 40px;
  }
}

.title,
.role,
.type,
.date {
  color: #111;
  @include fontstack();
  @include type('subtitle');
  margin: 0 0 4px;
}

.role {
  opacity: 0.5;
}

.type {
  opacity: 0.35;
}

.date {
  opacity: 0.2;
}