@font-face {
  font-family: 'Neue Montreal';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./NeueMontreal/neuemontreal-regular-webfont.woff2") format("woff2"),
       url("./NeueMontreal/neuemontreal-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Neue Montreal';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("./NeueMontreal/neuemontreal-regularitalic-webfont.woff2") format("woff2"),
       url("./NeueMontreal/neuemontreal-regularitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Editorial New';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./EditorialNew/editorialnew-light-webfont.woff2") format("woff2"),
       url("./EditorialNew/editorialnew-light-webfont.woff") format("woff");
}