@import '../../../styles/framework';

.button {
  @include fontstack();
  @include type('subtitle');
  border: none;
  display: flex;
  outline: none;
  background: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 13px 40px;
  border-radius: 2px;
  border: 1px solid black;

  &--secondary {
    background-color: black;
    color: white;
  }
}

.primary-arrow {
  fill: black;
}

.secondary-arrow {
  fill: white;
}