.wrapper {
  box-sizing: border-box;
  padding: 10px;
  height: 100vh;
}

.inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}